*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #090909;
    color: #ccc;
}
.choose{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.box{
    position: absolute;
    align-items: center;   
    width: 40%;
    height: 70%;
    top: 15vh;
    left: 30vw;
    float: left;
    padding: 50px;
    background-color: #ededee;
    box-shadow: 0px 0px 30px #888888;
    border-radius: 10px;
    z-index: 100;
}
.logo{
    border-radius: 100%;
    margin-top: 10px;
    margin-left: 10px;
    height: 12%;
    width: auto;
}
.box a{
    text-decoration: none;
    color: #777;
}
.box .heading{
    color: black;
    font-size: 100px;
    display: flex;
}
.box .btn{
    position: relative;
    font-size: 35px;
    width: 20vw;
    height: 10vh;
    margin-top: 8vh;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    background: #111;
    box-shadow: 0 0 10px #000;
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s;
    left: 15%;
}
.btn::after{
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 7%;
    bottom: 0;
    background: #1c1c1c;
    transition: all 0.3s;
}
.btn:hover{
    color: orangered; 
}
.btn:hover::after {
    height: 100%;
} 
.btn i{
    color: orangered;
    border-radius: 100%;
    border: 2px solid #888888;
    padding: 10px;
}